html, body {
    background-color: #1b2836;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

input, textarea, button{
    box-shadow:none !important;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}
            
.content {
    text-align: center;
}

.title {
    font-size: 2.90rem;
}

.fa-instagram{
    color: white;
    margin-right: 8px;
}

.header{
    color: white;
    font-weight: 600;
}

.m-b-md {
    margin-bottom: 20px;
}

.modal-body{
    padding: 0rem;
    background: #141d26; 
}

.modal-footer{
    background: #141d26;
    border-top: 1px solid black;
    font-family: 'Inconsolata', monospace;
}

.form-control{
    background: #141d26;    
    padding: 0.60rem;
    border: 1px solid black;
    border-radius: 0;
    color: white !important;
}
            
.form-control:focus{
    background: #141d26;   
    border: 1px solid #0a506d;
}

.loader{
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #17a2b8;
  border-bottom: 6px solid #17a2b8;
  border-right: 6px solid #1b2836; 
  border-left: 6px solid #1b2836; 
  margin-top: 1rem;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  display: none;
}

.copyright a{
    color: gray;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

.copyright a:hover{
    color: white;
}

#danger{
    background: black;
    font-size:1rem;
    font-family: 'Inconsolata', monospace;
    display: none;
    text-align: center;
    margin-top: 1rem;
}

#find{
    border-radius: 0;
    font-family: 'Oxygen', sans-serif;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}